
@font-face {
  font-family: 'SourceHanCodeJP';
  src: url('SourceHanCodeJP-Light.otf');
}
html, body {
  background: #eee;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
#status-box {
  overflow: auto;
  width: 100%;
}
#status {
  font-family: sans-serif;
  white-space: nowrap;
}
#diff-panel {
  font-family: "SourceHanCodeJP", monospace;
}
#cmd {
  font-family: "SourceHanCodeJP", monospace;
  font-size: 13px;
  width: 100%;
  word-break: break-all;
}
#message_textarea {
  margin: 1em 0;
  resize: vertical;
  width: 100%;
}
.row {
  display: flex;
}
.panel-container {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 1em;
  width: 100%;
}
.panel-container.col {
  flex-direction: column;
}
.panel-start, .panel-end {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
  overflow: auto;
}
.panel-splitter {
  background: transparent;
}
.panel-container:not(.col) > .panel-splitter {
  cursor: col-resize;
  height: 100%;
  width: 0.5em;
}
.panel-container.col > .panel-splitter {
  cursor: row-resize;
  height: 0.5em;
  width: 100%;
}
.panel-content {
  padding: 1em;
}

